# Obtendo o TLE a partir dos dados de TDM

In [1]:
from src.tracking_data_message.tracking_data_message import read_tdm, filter_raw_data
from src.orbit.orbit_determination import get_iod, get_iod_multiple_radec
from src.models.observatory import Observatory
import pandas as pd

tdm_raw = read_tdm("Dados\\TDM\\Threshold\\TDM-Saipher-30.txt")
tdm_filtered = filter_raw_data(tdm_raw)

# Dados do Observatório da Aldoria:
latitude = -30.5262693  # Latitude geocêntrica do observatório [deg]
longitude = -70.8531799  # [deg]
altitude = 2180e-3  # [km]

observatory = Observatory(longitude=longitude, latitude=latitude, altitude=altitude)

index = len(tdm_filtered["Tempo[s]"])

# tle_df = get_iod_multiple_radec(tdm_filtered,observatory)

# tle_df.describe()

obs, r, v, tle = get_iod(tdm_filtered, observatory, index - 8)
print('NORAD: 7646\n')
print(f"Vetor posição [km]:\n{r}")
print()
print(f"Vetor velocidade [km/s]:\n{v}")
print()
print(f"Tempo (UTC): {obs[1].time_utc}")
df = pd.DataFrame(
    data=tle.to_list,
    index=[
        "Semi-eixo Maior [km]",
        "Inclinação [°]",
        "Ascenção Reta do Nó de Ascenção [°]",
        "Ecentricidade",
        "Argumento do Perigeu [°]",
        "Anomalia Verdadeira [°]",
    ],
    columns=["Valores"],    
)
print()
print(df.head(6))

NORAD: 7646

Vetor posição [km]:
x = 1319.1435279735952
y = -5855.313869864821
z = -4173.77692260609
Magnitude = 7310.626099159027
Theta_x = 79.60449761152954
Theta_y = 143.2191874748642
Theta_z = 124.81435039911669

Vetor velocidade [km/s]:
x = 6.271704936915426
y = -1.4109223768647399
z = 3.6370384332936654
Magnitude = 7.386002527383957
Theta_x = 31.88241068723973
Theta_y = 101.01269692423304
Theta_z = 60.50002875438762

Tempo (UTC): 2023-04-25 09:52:02.178232

                                         Valores
Semi-eixo Maior [km]                 7314.605077
Inclinação [°]                         49.771881
Ascenção Reta do Nó de Ascenção [°]   318.728057
Ecentricidade                           0.025091
Argumento do Perigeu [°]              221.405524
Anomalia Verdadeira [°]                90.195498

In [10]:
from src.tracking_data_message.tracking_data_message import read_tdm, filter_raw_data
from src.orbit.orbit_determination import get_iod, get_iod_multiple_radec
from src.models.observatory import Observatory
import pandas as pd

tdm_raw = read_tdm("Dados\\TDM\\Threshold\\TDM-Saipher-25.txt")
tdm_filtered = filter_raw_data(tdm_raw)

# Dados do Observatório da Aldoria:
latitude = -30.5262693  # Latitude geocêntrica do observatório [deg]
longitude = -70.8531799  # [deg]
altitude = 2180e-3  # [km]

observatory = Observatory(longitude=longitude, latitude=latitude, altitude=altitude)

index = len(tdm_filtered["Tempo[s]"])

tle_df = get_iod_multiple_radec(tdm_filtered,observatory)

tle_df.describe()

# obs, r, v, tle = get_iod(tdm_filtered, observatory, index - 8)
# print('NORAD: 7646\n')
# print(f"Vetor posição [km]:\n{r}")
# print()
# print(f"Vetor velocidade [km/s]:\n{v}")
# print()
# print(f"Tempo (UTC): {obs[1].time_utc}")
# df = pd.DataFrame(
#     data=tle.to_list,
#     index=[
#         "Semi-eixo Maior [km]",
#         "Inclinação [°]",
#         "Ascenção Reta do Nó de Ascenção [°]",
#         "Ecentricidade",
#         "Argumento do Perigeu [°]",
#         "Anomalia Verdadeira [°]",
#     ],
#     columns=["Valores"],    
# )
# print()
# print(df.head(6))

c:\Users\rafael.facchin\OneDrive - Saipher ATC\Referências\spacepykit\src\common\vector.py:21: RuntimeWarning: invalid value encountered in scalar divide
  self._theta_x = np.arccos(x/self._magnitude)
c:\Users\rafael.facchin\OneDrive - Saipher ATC\Referências\spacepykit\src\common\vector.py:22: RuntimeWarning: invalid value encountered in scalar divide
  self._theta_y = np.arccos(y/self._magnitude)
c:\Users\rafael.facchin\OneDrive - Saipher ATC\Referências\spacepykit\src\common\vector.py:23: RuntimeWarning: invalid value encountered in scalar divide
  self._theta_z = np.arccos(z/self._magnitude)
c:\Users\rafael.facchin\OneDrive - Saipher ATC\Referências\spacepykit\src\orbit\orbit_determination.py:115: RuntimeWarning: invalid value encountered in scalar divide
  A = (-D[0][1] * (tau_3 / tau) + D[1][1] + D[2][1] * (tau_1 / tau)) / D0
c:\Users\rafael.facchin\OneDrive - Saipher ATC\Referências\spacepykit\src\orbit\orbit_determination.py:116: RuntimeWarning: divide by zero encountered in scalar divide
  B = (1 / (6 * D0)) * (
c:\Users\rafael.facchin\OneDrive - Saipher ATC\Referências\spacepykit\src\orbit\orbit_determination.py:116: RuntimeWarning: invalid value encountered in scalar multiply
  B = (1 / (6 * D0)) * (
c:\Users\rafael.facchin\OneDrive - Saipher ATC\Referências\spacepykit\src\orbit\orbit.py:28: RuntimeWarning: overflow encountered in cosh
  return (np.cosh(np.sqrt(-z))-1)/(-z)
c:\Users\rafael.facchin\OneDrive - Saipher ATC\Referências\spacepykit\src\orbit\orbit.py:16: RuntimeWarning: overflow encountered in sinh
  return (np.sinh(z_sqrt)-z_sqrt)/(pow(z_sqrt,3))
c:\Users\rafael.facchin\OneDrive - Saipher ATC\Referências\spacepykit\src\orbit\orbit.py:50: RuntimeWarning: The iteration is not making good progress, as measured by the
  improvement from the last ten iterations.
  x = fsolve(f,x0)
c:\Users\rafael.facchin\OneDrive - Saipher ATC\Referências\spacepykit\src\orbit\orbit.py:48: RuntimeWarning: invalid value encountered in add
  f = lambda x : (r*vr*pow(x,2)*stumpff_C(alpha*pow(x,2)))/mu_sqrt + (1-alpha*r)*pow(x,3)*stumpff_S(alpha*pow(x,2)) + r*x - dt*mu_sqrt
c:\Users\rafael.facchin\OneDrive - Saipher ATC\Referências\spacepykit\src\orbit\orbit_determination.py:311: RuntimeWarning: invalid value encountered in scalar divide
  c1 = g3 / (f1 * g3 - f3 * g1)
c:\Users\rafael.facchin\OneDrive - Saipher ATC\Referências\spacepykit\src\orbit\orbit_determination.py:312: RuntimeWarning: invalid value encountered in scalar divide
  c3 = -g1 / (f1 * g3 - f3 * g1)

                  a          e       omega           w          i          dt
count     91.000000  91.000000   91.000000   91.000000  91.000000   91.000000
mean    8183.916908   0.142798  318.750695  233.806629  49.750610  137.809365
std     3796.870216   0.164273    0.378530   68.797704   0.187745   56.323560
min     3815.803133   0.024776  317.943324  124.193318  48.336800    6.402856
25%     6848.392789   0.043649  318.592631  151.291862  49.734880   96.254252
50%     7579.279287   0.091165  318.687578  272.592900  49.787798  129.016237
75%     8148.560354   0.143906  318.819117  294.576208  49.826107  188.865077
max    33651.502760   0.776982  321.234076  311.105957  50.027030  225.887775

In [12]:
df = tle_df
df.where(df['e'] == df['e'].min(),inplace=True)
df.dropna(inplace=True)
df

              a         e       omega           w          i          dt
96  7232.691746  0.024776  318.760455  197.208545  49.756294  160.948122